﻿@model ExamenFinalMvc.Web.Funcionalidades.EliminarFacturas.EliminarFacturaViewModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EliminarFacturaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalIGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalIGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
