﻿@model IEnumerable<ExamenFinalMvc.Web.Funcionalidades.ListarEmpresas.ListarEmpresaViewModel>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Crear Empresa", "Registrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rubro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rubro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-xs"
                        data-toggle="dropdown">
                    <span>
                        <i class="glyphicon glyphicon-cog"></i>
                        <span class="caret"></span>
                    </span>
                </button>

                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink(" ", "Editar", new { id = item.Id }, new { @class = "glyphicon glyphicon-eye-open" })
                    </li>
                    <li>
                        @Html.ActionLink(" ", "Eliminar", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })
                    </li>
                    <li>
                        @Html.ActionLink("Agregar Factura", "Registrar", "Facturas", new { ruc = item.RUC }, new { @class = "glyphicon glyphicon-trash" })
                    </li>
                    <li>
                        @Html.ActionLink("Ver Facturas", "Listar", "Facturas", new { ruc = item.RUC }, new { @class = "glyphicon glyphicon-trash" })
                    </li>

                </ul>


            </div>

        </td>
    </tr>
}

</table>
